<mat-nav-list class="bg-pink-500 text-white max-w-7xl mx-auto p-4">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()" class="flex items-center space-x-2 hover:bg-pink-600 p-2 rounded">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()" class="flex items-center space-x-2 hover:bg-pink-600 p-2 rounded">
        <mat-icon>assignment_ind</mat-icon>
        <span class="nav-caption">Invoices</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()" class="flex items-center space-x-2 hover:bg-pink-600 p-2 rounded">
        <mat-icon>account_balance</mat-icon>
        <span class="nav-caption">Add product</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu" class="flex items-center space-x-2 hover:bg-pink-600 p-2 rounded">
        <mat-icon>unfold_more</mat-icon>
        <span class="nav-caption">Profile</span>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Profile</button>
        <button mat-menu-item (click)="onSidenavClose()">Contacts</button>
        <button mat-menu-item (click)="onSidenavClose()">Logout</button>
    </mat-menu>
</mat-nav-list>


