.mat-toolbar {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #ff05cd; 
    color: white;
}

.mat-icon-button {
    color: white;
}

.mat-toolbar .mat-icon {
    color: white !important; 
}

.spacer {
    flex-grow: 1; 
}

.navbar ul {
    list-style: none; 
    display: flex; 
    gap: 20px; 
    margin: 0; 
    padding: 0; 
}

.navbar li {
    display: flex;
    justify-content: center;
}

.navbar a,
.login-register a {
    color: white; 
    text-decoration: none; 
    font-weight: normal; 
}

.navbar a:hover,
.login-register a:hover {
    text-decoration: underline;
}

.login-register {
    display: flex;
    gap: 15px; 
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
ul li {
    margin-right: 20px;
  }
  
ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
  
ul li a:hover {
    text-decoration: underline;
}
  
.auth-link {
    margin-left: auto;
    display: flex;
    align-items: center;
}
  
.auth-link li {
    margin-left: 20px;
}
  