:host {
    display: block;
}
  
.item {
    margin-bottom: 15px; 
    cursor: pointer; 
    padding: 10px;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

  
.item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
h2 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
}
  
p {
    margin-bottom: 16px;
    color: #666;
}
  
.edit-button {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border:  none;
    padding: 15px 0 15px 0;
}
  
  .edit-button:hover {
    background-color: #ff05cd;;
    color: #fff; 
    transform: scale(1.05); 
  }