mat-sidenav-container {
    height: 100%; 
}   

mat-sidenav-content {
    padding: 0px;
    background-color: #f4f4f4; 
    min-height: 100vh; 
}
  
.cdk-drag-animating {
    transition: transform 250ms;
}
  
.cdk-drag-placeholder {
    opacity: 0;
}


  