<div class="box">
    <mat-card-content>
      <form class="my-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
        <mat-form-field class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" name="fullname"
                 id="fullname" formControlName="fullname" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" name="email"
                 id="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password"
                 id="password" formControlName="password" required>
        </mat-form-field>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit"
                  class="buttonSubmit" (click)="register()" 
                  [disabled]="registerForm.invalid">
            Register
          </button>
        </mat-card-actions>
        <div *ngIf="showSpinner">
          <mat-spinner mode="indeterminate" diameter="17"></mat-spinner>
        </div>
  
        <div *ngIf="showMessage">
          <h3 style="color: blue;"> Let's start. you are register</h3>
        </div>
      </form>
    </mat-card-content>
  </div>
  