<div class="box">
    <mat-card-content>
        <form class="my-form" [formGroup]="registrationForm" (ngSubmit)="register()">
            <mat-form-field class="full-width">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Full Name" formControlName="fullname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
                    Register
                </button>
            </mat-card-actions>

            <div *ngIf="showSpinner">
                <mat-spinner mode="indeterminate" diameter="17"></mat-spinner>
            </div>

            <div *ngIf="showMessage">
                <h3 style="color: blue;">Let's start. You are registered!</h3>
            </div>
        </form>
    </mat-card-content>
</div>
